---
import Layout from "../layouts/Layout.astro";
import Heading from "../components/Heading.astro";
const title = "About Us"
const description = "Freeway Mobile Tyres is one the UK's first mobile tyre fitting services. Freeway Mobile Tyres is based in Poole and has been in the tyre trade for over 30 years."
---

<Layout title={`${title} | Freeway Mobile Tyres`} description={description} noindex={false}>
    <main>
        <!-- Heading -->
        <Heading heading={title} />
        <!-- Content -->
        <div class="container py-5">
            <h2>Our Mission</h2>
            <p>At Freeway Mobile Tyres, we understand that your time is valuable, and that's why we're dedicated to providing a mobile tyre-fitting service that's as convenient and flexible as possible. Our mission is to make your life easier and save you time by bringing our services directly to your doorstep, at a time that suits you.</p>
            <p>Our team of friendly technicians are available to help you 24 hours a day, 7 days a week, 365 days a year. We're always here for you in the event of a tyre emergency, whether you're at home, at work, or on the roadside.</p>
            <p>With Freeway Mobile Tyres, you don't need to worry about travelling to a garage or waiting in a crowded waiting room. All you need to do is give us a call, and we'll take care of the rest. Our technicians will come to you and fit your new tyres while you put your feet up, so you can relax and enjoy your day.</p>
            
            <h2>Our Values</h2>
            <p>At Freeway Mobile Tyres, we're proud to be a small family-owned and operated business. We take great pride in providing the best quality tyre service to our customers, and we always go above and beyond to ensure your complete satisfaction.</p>
            <p>We believe that everyone deserves high-quality service, which is why we offer same-day fitting at no extra cost, and cover most of the Dorset area. Our commitment to providing the best service possible is reflected in the quality of our work and the loyalty of our customers.</p>
            
            <h2>Our History</h2>
            <p>While Freeway Mobile Tyres was only established in the last few years, our team has been in the tyre trade for over 30 years. Our founder, Paul Spicer, started Mobile Tyres in August 1990, one of the UK's first mobile car tyre fitting companies. Paul's idea was simple – to save customers time and energy by bringing the tyre shop to their front door.</p>
            <p>Over the years, we've helped countless stay-at-home parents, stranded drivers, and business people, all of whom love the convenience that mobile tyre-fitting brings. Finally, they could have their tyres changed without having to spend hours in a garage. They could work, study, tidy up, play with the kids, or watch TV instead.</p>
            <p>With the growth of the mobile tyre-fitting scene over the last decade, Freeway Mobile Tyres has become the preferred choice for people in Dorset who need to change their tyres. We're proud to continue our legacy of excellent service and innovative solutions, even as we look towards the future.</p>
            
            <h2>Our Future</h2>
            <p>At Freeway Mobile Tyres, we're always looking to expand our services and provide our mobile tyre service to all Dorset residents. That's why we currently have eight mobile tyre-fitting vans on the road, each equipped with the latest technology and tools to ensure your safety and satisfaction.</p>
            <p>In addition, we've recently opened our new depot in Shaftesbury, which enables us to better serve customers in that area. We're constantly investing in new technology and expanding our reach, so that we can continue to provide the best possible service to our customers throughout the region.</p>
            <p>So if you're in need of mobile tyre fitting services in Dorset, give us a call!</p>
            
        </div>
        
    </main>
</Layout>