---
import Layout from "../layouts/Layout.astro";

const title = "Site Map"
---

<Layout title={`${title} | Freeway Mobile Tyres`} description="The site map for freewaymobiletyres.co.uk" noindex={true}>
    <div class="container py-5">
        <h2>Site Map</h2>
        <p><a href="/">Home</a></p>
        <p>Mobile Tyres</p>
        <ul>
            <li><a href="/mobile-tyres/mobile-tyre-fitting">Mobile Tyre Fitting</a></li>
            <li><a href="/mobile-tyres/24-hour-mobile-tyre-fitting">Emergency Mobile Tyre Fitting</a></li>
            <li><a href="/mobile-tyres/mobile-caravan-tyre-fitting">Mobile Caravan Tyre Fitting</a></li>
            <li><a href="/mobile-tyres/puncture-repair">Puncture Repair</a></li>
            <li><a href="/mobile-tyres/seasonal-refit">Seasonal Refit</a></li>
        </ul>
        <p>Services</p>
        <ul>
            <li><a href="/services/locking-wheel-nut-removal">Locking Wheel Nut Removal</a></li>
            <li><a href="/services/tyre-pressure-monitoring-system">Tyre Pressure Monitoring System</a></li>
            <li><a href="/services/mobile-car-battery-system">Mobile Car Battery System</a></li>
            <li><a href="/services/mobile-brake-fitting">Mobile Brake Fitting</a></li>
            <li><a href="/services/wheel-alignment">Wheel Alignment</a></li>
            <li><a href="/services/alloygator-wheel-protection">Alloygator Wheel Protection</a></li>
            <li><a href="/services/vehicle-recovery">Vehicle Recovery</a></li>
        </ul>
        <p>Coverage</p>
        <ul>
            <li><a href="/coverage/blandford-forum">Blandford Forum</a></li>
            <li><a href="/coverage/bournemouth">Bournemouth</a></li>
            <li><a href="/coverage/christchurch">Christchurch</a></li>
            <li><a href="/coverage/dorchester">Dorchester</a></li>
            <li><a href="/coverage/poole">Poole</a></li>
            <li><a href="/coverage/ringwood">Ringwood</a></li>
            <li><a href="/coverage/shaftesbury">Shaftesbury</a></li>
            <li><a href="/coverage/sturminster-newton">Sturminster Newton</a></li>
            <li><a href="/coverage/swanage">Swanage</a></li>
            <li><a href="/coverage/verwood">Verwood</a></li>
            <li><a href="/coverage/weymouth">Weymouth</a></li>
            <li><a href="/coverage/wimborne">Wimborne</a></li>
        </ul>
        <p><a href="/about">About</a></p>
        <p><a href="/contact">Contact</a></p>
        <p>Legal Pages</p>
        <ul>
            <li><a href="/cookie-policy">Cookie Policy</a></li>
            <li><a href="/terms-and-conditions">Terms & Conditions</a></li>
            <li><a href="/privacy-policy">Privacy Policy</a></li>
        </ul>
    </div>
</Layout>