---
import '../styles/bootstrap/bootstrap.min.css'
import "../styles/bootstrap-icons/bootstrap-icons.css"
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<script>
			import "../scripts/google/googleTagManager.js"
		</script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="" />
		<title>Test</title>
        <meta name="robots" content="noindex">
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NJ757DK"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

       
        <main>
            <h1>Test page</h1>
        </main>

		<script>
			import "../scripts/bootstrap/bootstrap.bundle"
		</script>
	</body>
</html>

<style>

</style>