---
import Layout from "../layouts/Layout.astro";

const title = "Thank You"
const description = "Thank you page for form submission on freewaymobiletyres.co.uk"
---

<Layout description={description} title={title} noindex={true}>
    <section class="container my-5 d-flex align-items-center justify-content-center flex-column">
        <div class="bg-success p-5 text-light rounded-3 text-center">
            <h2>Success!</h2>
            <p class="mb-0">A member of our team will be in touch within the next 24 hours.</p>
            <p class="fw-bold">If you need help ASAP, call us on 0800 7311 260.</p>
            <a href="/" class="btn btn-outline-light">Return Home</a>
        </div>
    </section>
    <script defer type="application/javascript" src="https://pulse.clickguard.com/sc"></script>
</Layout>
