---
import Map from "./Map.astro";
---

<div class="py-5">
    <div class="container">
        <h3 class="text-center fs-2">Areas We Cover</h3>
        <p class="text-center">Our tyre services are available across many areas of Dorset, including:</p>
        <div class="row g-0">
            <div class="col-6 col-lg-3">
                <ul>
                    <li><a href="/coverage/blandford-forum">Blandford Forum</a></li>
                    <li><a href="/coverage/bournemouth">Bournemouth</a></li>
                    <li><a href="/coverage/christchurch">Christchurch</a></li>
                    <li><a href="/coverage/dorchester">Dorchester</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-3">
                <ul>
                    <li><a href="/coverage/ferndown">Ferndown</a></li>
                    <li><a href="/coverage/gillingham">Gillingham</a></li>
                    <li><a href="/coverage/poole">Poole</a></li>
                    <li><a href="/coverage/ringwood">Ringwood</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-3">
                <ul>
                    <li><a href="/coverage/shaftesbury">Shaftesbury</a></li>
                    <li><a href="/coverage/sturminster-newton">Sturminster Newton</a></li>
                    <li><a href="/coverage/swanage">Swanage</a></li>
                    <li><a href="/coverage/verwood">Verwood</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-3">
                <ul>
                    <li><a href="/coverage/wareham">Wareham</a></li>
                    <li><a href="/coverage/weymouth">Weymouth</a></li>
                    <li><a href="/coverage/wimborne">Wimborne</a></li>
                </ul>
            </div>
        </div>
        
        <Map />
    </div>
</div>