<aside class="my-4 bg-light p-3 shadow-sm border rounded-3">
    <p class="lead text-center my-3 fw-bold fs-4">Areas Served In Dorset</p>
    <p class="text-center">
        Poole, Bournemouth, Weymouth, Dorchester, Christchurch, Sherborne,
        Ferndown, Swanage, Wareham, Wimborne Minster, Shaftesbury, Gillingham,
        Sturminster Newton, Verwood, Blandford Forum, Corfe Castle, and many
        more.
    </p>
</aside>
