<div class="bg-danger py-5 text-center text-white">
    <div class="container">
        <h2 class="mb-3">Call Now For a Quote</h2>
        <a href="tel:08007311260" class="btn btn-light btn-lg fw-bold wiggle"><i class="bi bi-telephone-fill"></i> 0800 7311 260</a>
    </div>
</div>