---
---

<!-- Modal -->
<div
    class="modal fade"
    id="messageModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="messageModalLabel"
    aria-hidden="true"
>
    <form action="https://safe-island-80193.herokuapp.com" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">
                        Send Us a Message
                    </h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 row">
                        <div class="col-6">
                            <label
                                for="registrationInputModal"
                                class="form-label">Vehicle Registration *</label
                            >
                            <input
                                type="text"
                                class="form-control"
                                id="registrationInputModal"
                                name="Registration"
                                required
                                placeholder="FR33 WAY"
                            />
                        </div>
                        <div class="col-6">
                            <label for="postcodeInputModal" class="form-label"
                                >Postcode *</label
                            >
                            <input
                                type="text"
                                class="form-control"
                                id="postcodeInputModal"
                                name="Postcode"
                                required
                                placeholder="BH17 0GA"
                            />
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col-6">
                            <label for="nameInputModal" class="form-label"
                                >Name *</label
                            >
                            <input
                                type="text"
                                class="form-control"
                                name="Name"
                                id="nameInputModal"
                                required
                                placeholder="Jane Doe"
                            />
                        </div>
                        <div class="col-6">
                            <label for="phoneInputModal" class="form-label"
                                >Phone *</label
                            >
                            <input
                                type="tel"
                                name="Phone"
                                id="phoneInputModal"
                                class="form-control"
                                placeholder="07123 456789"
                            />
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="emailInputModal" class="form-label"
                            >Email *</label
                        >
                        <input
                            type="email"
                            name="Email"
                            id="emailInputModal"
                            class="form-control"
                            placeholder="janedoe@email.com"
                        />
                    </div>
                    <div class="mb-3">
                        <label for="messageInputModal" class="form-label"
                            >Message</label
                        >
                        <textarea
                            name="Message"
                            id="messageInputModal"
                            cols="30"
                            rows="3"
                            class="form-control"
                            placeholder="How can we help?"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button
                    >
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </div>
        </div>
    </form>
</div>
