---
---

<!-- Modal -->
<div
    class="modal fade"
    id="messageModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="messageModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">
                    Get a Quote
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form
                    action="https://safe-island-80193.herokuapp.com"
                    method="post"
                >
                    <div class="mb-3">
                        <label for="registration" class="form-label"
                            >Vehicle Registration *</label
                        >
                        <input
                            type="text"
                            class="form-control"
                            id="registration"
                            name="Registration"
                            required
                        />
                    </div>
                    <div class="mb-3">
                        <label for="postcode" class="form-label">Postcode *</label>
                        <input type="text" class="form-control" id="postcode" name="Postcode" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal">Close</button
                >
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
</div>
