<!-- <div class="bg-white p-2 fw-bold text-dark border rounded-3">
    <span>Rated <i class="bi bi-star-fill text-warning"></i> <i class="bi bi-star-fill text-warning"></i> <i class="bi bi-star-fill text-warning"></i> <i class="bi bi-star-fill text-warning"></i> <i class="bi bi-star-fill text-warning"></i> <a target="_blank" href="https://www.google.com/search?q=freeway+mobile+tyres&sca_esv=587936899&sxsrf=AM9HkKn0Zg8QicOzE_0OZqskhPRThTtFuA%3A1701760199242&source=hp&ei=x8xuZY6XDNCXhbIPotC1wAU&iflsig=AO6bgOgAAAAAZW7a12RqVNK0tbURwlZI2BpHEhHfAeWB&ved=0ahUKEwjOlqrh3veCAxXQS0EAHSJoDVgQ4dUDCA8&uact=5&oq=freeway+mobile+tyres&gs_lp=Egdnd3Mtd2l6IhRmcmVld2F5IG1vYmlsZSB0eXJlczIKECMYgAQYigUYJzIEECMYJzIEECMYJzITEC4YgAQYigUYQxjHARivARiOBTIKEAAYgAQYFBiHAjIGEAAYFhgeMgsQABiABBiKBRiGAzILEAAYgAQYigUYhgMyCxAAGIAEGIoFGIYDSLwRUABY2A9wAHgAkAEAmAF9oAHBDaoBBDE3LjO4AQPIAQD4AQHCAhAQLhjHARjRAxiABBiKBRgnwgIKEAAYgAQYigUYQ8ICDRAuGIAEGIoFGEMY1ALCAg4QLhiABBiKBRixAxiDAcICCxAAGIAEGLEDGIMBwgIQEC4YgAQYigUYQxjHARjRA8ICCxAuGIAEGLEDGIMBwgIQEAAYgAQYigUYQxixAxiDAcICEBAuGIAEGIoFGEMYsQMY1ALCAg0QABiABBiKBRhDGLEDwgINEC4YgAQYFBiHAhixA8ICDRAuGBQYhwIYsQMYgATCAgsQLhiABBjHARivAcICCBAuGLEDGIAEwgILEC4YrwEYxwEYgATCAgUQABiABMICBRAuGIAEwgITEC4YQxivARjHARiABBiKBRiOBcICExAuGIAEGBQYhwIYxwEYrwEYjgXCAgcQLhiABBgKwgIIEAAYFhgeGA8&sclient=gws-wiz#lrd=0x4873a3c1c07c9349:0x32ea93bbde7f818,1,,,," class="link-dark">511 Reviews on Google</a></span>
</div> --><!-- <div data-romw-token="ERqyVxiXX0HQFiA1QDgijO0d0XbwTt5xjcgYJBVTRlSYqHAM81"></div> 
<script src="https://reviewsonmywebsite.com/js/v2/embed.js?id=7bf8acda5d5930b1a9db343a4ec1b31c" type="text/javascript"></script> -->
<div class="row bg-light rounded-3 text-dark ms-0">
    <div class="col-3 p-3 d-flex align-items-center">
        <img
            src="https://seeklogo.com/images/G/google-logo-28FA7991AF-seeklogo.com.png"
            alt=""
            width="35"
        />
    </div>
    <div class="col-9 p-3">
        <p class="mb-0">Google</p>
        <p class="h5 mb-0">
            5.0 <i class="bi bi-star-fill text-warning"></i>
            <i class="bi bi-star-fill text-warning"></i>
            <i class="bi bi-star-fill text-warning"></i>
            <i class="bi bi-star-fill text-warning"></i>
            <i class="bi bi-star-fill text-warning"></i>
        </p>
        <p class="mb-0 small">Based on 587 reviews</p>
    </div>
</div>
