<div class="bg-white px-3 py-2 mt-0 mt-lg-3 fw-bold text-dark border rounded-3 mb-5 mb-lg-0">
    <span>Rated <i class="bi bi-star-fill text-warning"></i> <i class="bi bi-star-fill text-warning"></i> <i class="bi bi-star-fill text-warning"></i> <i class="bi bi-star-fill text-warning"></i> <i class="bi bi-star-fill text-warning"></i> On Google</span>
</div>