<!-- <form method="post" class="bg-white p-4 border shadow-lg rounded-3" action="https://formsubmit.co/45bf22321b43d3d38b562eca876202dc"> -->
    <form method="post" class="bg-white p-4 border shadow-lg rounded-3" action="https://safe-island-80193.herokuapp.com/test">
        <p class="text-center mb-3 fs-4 fw-bold">Get A Quote</p>
        <!-- <input type="hidden" name="_next" value="https://freewaymobiletyres.co.uk/thanks">
        <input type="hidden" name="_subject" value="New Quote Request!">  -->

        <div class="d-flex justify-content-center d-none" id="spinner">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
        </div>

        <div class="d-none">
            <input type="text" name="url" id="urlInput">
        </div>

        <!-- Registration Section -->
        <div id="regSection" class="">
            <div class="mb-2">
                <input type="text" class="form-control form-control-lg text-center" placeholder="Enter Reg" id="regInput" name="Registration">
            </div>
            <div class="d-grid">
                <a class="btn btn-info btn-lg" id="regBtn" href="#">Next</a>
            </div>
        </div>

        <!-- Vehicle Confirmation Section -->
        <div id="vehicleSection" class="text-center d-none">
            <p class="mb-2 fs-5">Confirm Make & Model</p>
            <div class="mb-2">
                <input type="text" name="Vehicle_Make" id="vehicleMake" class="form-control form-control-lg text-center" disabled>
            </div>
            <div class="mb-2">
                <input type="text" name="Vehicle_Model" id="vehicleModel" class="form-control form-control-lg text-center" disabled>
            </div>
            <div class="row g-1">
                <div class="col-6 d-grid">
                    <a class="btn-dark btn btn-lg" id="incorrectVehicleBtn" href="#">Back</a>
                </div>
                <div class="col-6 d-grid">
                    <a class="btn btn-info btn-lg" id="correctVehicleBtn" href="#">Next</a>
                </div>
            </div>
        </div>

        <!-- Tyre Size Confirmation Section -->
        <div id="tyreSizeSection" class="text-center d-none">
            <p class="mb-2 fs-5">Confirm Tyre Size</p>
            <select name="Tyre_Size" id="tyreSizeSelect" class="form-select form-select-lg mb-2">

            </select>
            <div class="row g-1">
                <div class="col-6 d-grid">
                    <a href="#" class="btn-dark btn btn-lg" id="incorrectSizeBtn">Back</a>
                </div>
                <div class="col-6 d-grid">
                    <a href="#" class="btn-info btn btn-lg" id="correctSizeBtn">Next</a>
                </div>
            </div>
        </div>

        <!-- Postcode Section -->
        <div id="postcodeSection" class="d-none">
            <div class="mb-2">
                <input type="text" class="form-control text-center form-control-lg" placeholder="Enter Postcode" id="postcodeInput" name="Postcode">
            </div>
            <div class="row g-1">
                <div class="col-6 d-grid">
                    <a class="btn-dark btn btn-lg" id="backToSizeBtn" href="#">Back</a>
                </div>
                <div class="col-6 d-grid">
                    <a class="btn btn-info btn-lg" id="postcodeBtn" href="#">Next</a>
                </div>
            </div>
        </div>

        <!-- Contact Section -->
        <div id="contactSection" class="d-none">
            <div class="mb-2">
                <input type="text" class="form-control form-control-lg" placeholder="Name" required name="Name" id="nameInput">
            </div>
            <div class="mb-2">
                <input type="tel" class="form-control form-control-lg" placeholder="Tel" required name="Phone" id="telInput">
            </div>
            <div class="mb-2">
                <input type="email" class="form-control form-control-lg" placeholder="E-Mail" required name="Email" id="emailInput">
            </div>
            <div class="mb-2">
                <textarea name="Message" id="message" cols="30" rows="3" class="form-control form-control-lg" placeholder="Message" required id="messageInput"></textarea>
            </div>
            <div class="row g-1">
                <div class="col-6 d-grid">
                    <a class="btn-dark btn btn-lg" id="backToPostcodeBtn" href="#">Back</a>
                </div>
                <div class="col-6 d-grid">
                    <button class="btn btn-info btn-lg" id="submitBtn">Submit</button>
                </div>
            </div>
        </div>
    </form>
    
    <style>
        #regInput, #postcodeInput {
            text-transform: uppercase;
        }
    </style>
    
    <script>
        import "../scripts/quotes/testQuote.js"
    </script>