<div class="bg-danger py-1 d-none d-lg-block">
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="tel:08007311260" class="m-0 fw-bold"><i class="bi bi-telephone-fill"></i> 0800 7311 260</a>
            </div>
            <div class="col d-flex">
                <div class="ms-auto">
                    <a href="https://www.facebook.com/dorsetmobiletyres" target="_blank"><i class="bi bi-facebook"></i></a>
                    <a href="https://www.youtube.com/channel/UCqDgLASKb7vnOSo4t_bdV1Q" target="_blank"><i class="bi bi-youtube ms-1"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    a {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

    a:hover {
        color: black;
    }
</style>